<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourecom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yourecom_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddFeedbackActivity"></activity>
        <activity android:name=".activity_main_list" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".AddTipsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".CourseDescriptionActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SignUp" />
        <activity android:name=".FirebaseUIActivity"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".ResetPassword"/>
        <activity android:name=".EmailPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>